#results {
    background-color: #191414;
    color: #FFFFFF;
    padding-left: 5%;
    padding-right: 5%;
}
hr {
    color: #1DB954;
    background-color: #1DB954;
    border-color: #1DB954;
}
td {
    width: 20%;
    font-size: 14px;
}
h3 {
    font-size: 24px;
}
.linkCol{
    text-align: center;
}
.resultTable{
    width: 100%;
}